body{
	background-color: black;
}
ul{
	list-style-type: none;
	/*Permite quitar viñetas*/
	margin: 0px;
	padding: 0px;
	border: 1px solid #CCC;
	width: 130px;
}
a{
	font-family: 'Indie Flower', cursive;
	font-size: 20px;
	display: block;
	padding: 6px;
	border: 1px solid #CCC;
	background-color: #EAEAEA;
	color: #000;
}

a:hover{
	color: cyan;
	background-color: #666;
	border-right-width: 5px;
	border-right-color: cyan; 
}